<div class="container">
    <h2>プロフイール設定</h2>
    
    <hr>
    
    <h5>プロフィール画像</h5>
    <%= form_for(@user) do |f| %>
    <%= image_tag(@user.image_url, width: '200') if @user.image? %>
     
    <%= f.file_field :image %>
    <a>設定できる画像は、5MB以内・JPG/PNG/GIF形式です。</a>
    
    <hr>
    
    <h5>ニックネーム</h5>
    <h6><%= f.text_field :name, class: 'form-control' %></h6>
   
    <hr>
    
     <h5>タグ編集</h5>
     <span class="badge bg-light text-dark">エンジニア</span><span class="badge bg-secondary">110</span>
   　 <button type="button" class="btn-close" aria-label="Close"></button>
     <span class="badge bg-light text-dark">週４</span><span class="badge bg-secondary">82</span>
     <button type="button" class="btn-close" aria-label="Close"></button>
     <button type="button" class="btn btn-light text-dark">
          海外<span class="badge bg-secondary">24</span>
     </button>
     <button type="button" class="btn-close" aria-label="Close"></button>
     <button type="button" class="btn btn-light text-dark">
          出張無し<span class="badge bg-secondary">23</span>
     </button>
     <button type="button" class="btn-close" aria-label="Close"></button>
    <input class="form-control" type="text"  aria-label="default input example">
    <button type="button" class="btn btn-primary btn-sm">追加する</button>
    <hr> 
    
    <h5>やってきたこと</h5>
      
      <%= f.text_area :description, class: 'form-control' %>
    
    
    <hr>
    <h5>伝えたいこと</h5>
   
      <%= f.text_area :opinion, class: 'form-control' %>
   
    
    <hr>
    
    <h5>登録メールアドレス</h5>
     <%= f.text_field :email, class: 'form-control' %>
    <hr>
    <h5>生年月日</h5>
    <%= f.date_field :birthday, class: 'form-control' %>
    <hr>
    
    <h5>お住まいの地域</h5>
        
  
    
    <a>都道府県</a>
        <%= f.select :region, {'北海道': '北海道', '東北': '東北', '関東': '関東','中部': '中部','近畿': '近畿','中国': '中国','四国': '四国','九州': '九州','沖縄': '沖縄','その他': 'その他'}, {}, { class: 'form-control' , required: true } %>

    <%= f.submit '保存', class: "btn btn-outline-primary" %>
    <% end %>
</div>