
<div class="container">
  <div class="my-3">
    <% @tags.each do |tag| %>
      <%= link_to tag_users_path(tag) do %>
        <span class="badge bg-light text-dark"><%= tag.name %></span><span class="badge bg-secondary"><%= tag.user_tags.count %></span>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-2">
        <div class="card">
          <img src="https://ssth.dmc.nico/thumbnail/20210616/22/25/nicolive-production-pg38344745550431/nicolive-production-pg38344745550431_352_198.jpg" class="card-img-top">
          <div class="card-body">
            <div class="row">
                <div class="col-4"><img src="https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/11851/118512194.jpg?1623832810" width="100%" /></div>
                <div class="col-8"><h5 class="card-title"><%= user.name %></h5></div>
            </div>
            <p class="card-text"><span class="badge bg-light text-dark">土日休み</span><span class="badge bg-light text-dark">契約社員</span><span class="badge bg-light text-dark">猫</span></p>
            <%= link_to("詳細を見る","/users/#{user.id}", class: 'btn btn-primary') %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="d-flex justify-content-center mt-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</div>
