<div class="container">
    <div class="row">
        <div class="col">
            <h2>プロフイール</h2>
        </div>
         <div class="col">
            <%= link_to edit_me_path, class: 'w-100 float-end' do %>
                <button type="submit" class="btn btn-primary btn-sm">編集する</button>
            <% end %>
        </div>
    </div>
    <hr>   
    <%= image_tag(@user.image_url, width: '200') if @user.image? %>
    


    
    <hr>
    
    <h5>ニックネーム</h5>
    <h6><%= @user.name %></h6>
   
    <hr>
    
     <span class="badge bg-light text-dark">エンジニア</span><span class="badge bg-secondary"></span>
     <span class="badge bg-light text-dark">周</span><span class="badge bg-secondary"></span>
    <span class="badge bg-light text-dark">バイト</span><span class="badge bg-secondary"></span>
    <hr> 
    
    <h5>やってきたこと</h5>
    <p><%= h(@user.description).gsub(/\R/, "<br>").html_safe %></p>
    
    <hr>
    <h5>伝えたいこと</h5>
    <p><%=  h(@user.opinion).gsub(/\R/, "<br>").html_safe %></p>
    <hr>
    
    <h5>登録メールアドレス</h5>
    <p><%= @user.email %></p>
    
   
    <h5>生年月日</h5>
    <p><%= @user.birthday.strftime("%Y/%-m/%-d") %></p>
      

    <hr>
    
   
    
    
</div>